:root {
    /* Empty for now */
}

body {
    font-family: "Arial";
    background-color: rgb(41, 41, 41);
    color: rgb(196, 191, 191);

    font-family: "Roboto";
    letter-spacing: 1.8px;

    overflow: hidden;

}

.db, .homebtn {
    margin: auto;
    display: flex;

    position: relative;
    bottom: 120px;

    border-radius: 10px;
    border: none;
    border-color: black;
    width: 20%;

    text-decoration: none;

    background-color: rgb(96, 103, 163);
    transition: all 0.6s ease-in-out;
    border: none;
}

.main-docs {
    font-family: "Roboto", sans-serif;
    letter-spacing: 3px;
    text-align: center;
}

.doc {
    margin: auto;
    display: flex;

    position: relative;
    bottom: 130px;

    border-radius: 10px;
    border: none;
    border-color: black;
    width: 20%;

    text-decoration: none;

    background-color: rgb(96, 103, 163);
    transition: all 0.6s ease-in-out;
    border: none;
}

.homebtn {
    top: 25px;
    width: 120px;
}

.main {
    font-size: 1200%;

    font-family: "Orbitron";
    text-align: center;
}

@media screen and (max-width: 700px){
    .main {
        font-size: 600%;
        
        line-height: 3;
    }

    .doc {
        width: 150px;
    }

    .db {
        width: 200px;
    }
}

.sub {
    position: relative;
    text-align: center;
    bottom: 130px;
}

.btna {
    margin: auto;
    display: inline-block;

    font-family: "Roboto";

    letter-spacing: 1.8px;
    text-decoration: none;

    width: 110%;
    text-align: center;
}


button:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.058);
    border: 3px solid rgb(125, 96, 163);
    cursor: pointer;

    box-shadow: rgba(72, 135, 202, 0.651) 0 0 5px 1px;
}

button:active {
    transform: scale(1.3);
}

.logo {
    pointer-events: none;

    width: 100px;
    background: none;
}


p {
    font: "Arial"
}

hr {
    height: 1px;
    background-color: rgb(88, 86, 86);
    border: none;
}

.btna {
    color: black;
}

.main-paragraph-filedata {
    color: rgb(87, 87, 87);
}

.main-paragraph {
    width: 70%;
    word-wrap: break-word;
}

.main-paragraph-disclaimer {
    font-size: 70%;
    color: rgb(102, 61, 61);
}

.main-paragraph-about {
    font-family: "Arial";
}

.github-link {
    transition: all 0.4s ease-in-out;

    display: flex;

    align-items: flex-end;
    justify-content: center;
    margin-top: 50px;

    text-decoration: none;
    color: rgb(87, 87, 87);

    box-sizing: border-box;
    text-align: center;

    font-size: 12px;
}

.github-link:hover {
    transition: all 0.4s ease-in-out;
    transform: scale(1.1)
}

.github-link:active {
    transform: scale(1.3);
}