body {
    font-family: "Verdana";
    background-color: rgb(41, 41, 41);
    color: rgb(196, 191, 191);
}

button {
    border-radius: 10px;
    border: none;
    border-color: black;
    width: 20%;
}

button {
    background-color: rgb(96, 103, 163);
    transition: all 0.4s ease-in-out;
    border: none
}

button:hover {
    /* HOVER ON */
    transition: all 0.4s ease-in-out;
    transform: scale(1.058);
    border: 3px solid rgb(125, 96, 163);
    cursor: pointer;
}

button:active {
    transform:scale(1.1);
}

.logo {
    width: 120px;
    background: none;
}

p {
    font: "Arial Black"
}

hr {
    height: 1px;
    background-color: rgb(88, 86, 86);
    border: none;
}

a {
    color: black;
}

.main-paragraph-filedata {
    color: rgb(87, 87, 87);
}

.main-paragraph {
    width: 70%;
    word-wrap: break-word;
}

.main-paragraph-disclaimer {
    font-size: 70%;
    color: rgb(102, 61, 61);
}